/* Welcome to your Intro to CSS Activity!

Directions:
- When you get into your breakout room, select a team member to share their screen and record the answers the team finds
- With your Breakout Team, scroll through the CSS Code below and answer the questions in the comments
- Team members who are not sharing screen should follow along in their own code
- Use your Google Foo skills to find the answers and explore what CSS can offer your website
- All team members should search for the answers, use the chat to send helpful links that are found
- Feel free to copy and paste useful links into comments in this file for easy reference in the future
- Communicate and work with your team to ensure all members understand the answers before you move on to answering the next question
- If you finish early, try the *BONUS* questions at the bottom of the file, and/or explore any concepts you come across that you find interesting or want to learn more about!
- HAVE FUN! :)

Resources:
- https://www.w3schools.com/css/css_intro.asp
- https://developer.mozilla.org/en-US/docs/Learn/CSS/First_steps/What_is_CSS
*/


/* What kind of selector is this? */
/*  */
body {
	background: #dedede;
}

/* What element in the html is the selector below manipulating? */
/*  */
nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #010e80;
	display: table;
	width: 100%;
}

nav li {
	display: table-cell
}

li a {
	display: block;
	color: white;
	text-align: center;
	padding: 30px 30px;
	text-decoration: none;
}

/* What kind of selector is this? *//* What element in the html is the selector below manipulating? */
/*  *//*  */
li a:hover {
	background-color: rgb(40, 39, 39);
}

h2 a {
	padding: 33px 25px;
	color: white;
	text-decoration: none;
}

h2 a:hover {
	background-color: #111;
}

figcaption{
  text-align:left;
}

header {
	margin-left: 14px;
}

article {
	text-align: left;
	margin: 15px;
	max-width: 80%;
	font-size: 18px;
	line-height: 32px;
}

img {
	width: 80%;
	height: 80%;
    position:relative;
    right:28px;
}

aside {
	left: 10px;
	border: 1px solid black;
	padding: 15px;
	max-width: 80%;
	position: relative;
	border-color: #8c6b48;
	border-width: 5px;
	font-size: 18px;
}
/* What is the 'position: relative'  */
/*  */
footer {
	position: relative;
	width: 100%;
	bottom: -100px;
	background-color: #8c6b48;
}

footer p {
	color: white;
	text-decoration: none;
	padding: 10px;
	text-align: center;
	width: 100%;
	box-sizing: border-box;
}

footer a {
	color: white;
	text-decoration: none;
	text-align: center;
	width: 100%;
}


form {
    line-height: 27px;
  }

  h2 {
    font-size: 20px;
  }

  input[type="text"], input[type="number"] {
    min-height: 15px;
    border-radius: 5px;
    border:1px solid #cccccc;
  }

  input[type="radio"] {
    margin-left: 12px;
  }

/* What kind of selector is this? */
/*  */
  #main {
    background-color: rgba(255,255,255,0.8);
    text-align: center;
    height: 80vh;
    border-radius: 15px;
    margin: 2% 10%;
    overflow: auto;
  }

/* What element in the html is the selector below manipulating? */
/*  */
  #story {
    padding: 0 3%;
  }

  #top {
    background-color: rgb(255, 255, 255);
    margin: 2% 10%;
    border-radius: 15px;
  }

  #top img {
    display: block;
    width: 35%;
    margin: 0 auto;
  }

  .italics {
    font-style: italic;
  }

  .word {
    font-weight: bold;
    text-decoration: underline;
  }

  header {
    text-align: center;
    margin-top: 5px;
  }

  h1 {
    font-size: 36px;
    padding: 15px;
    color: #8c6b48;
    background-color: white;
  }

  h2 {
    font-size: 24px;
    padding: 15px;
    text-transform: uppercase;
  }

  h3 {
    font-size: 20px;
    padding: 15px;
    text-transform: uppercase;
    text-align: left;
    margin-left: 20px;
    font-weight: 500;
    line-height: 2.7;
    letter-spacing: 0.8px;
  }

  th {
    border: 2px solid #8c6b48;
  }

  table {
    text-align: center;
    margin: 20px auto;
  }

  td {
    border: 2px solid #8c6b48;
    width: 300px;
  }

/* What kind of selector is this? */
/*  */
  .container {
    max-width: 940px;
    margin: 0 auto;
    height: 800px;
  }

/* What element in the html is the selector below manipulating? */
/*  */
  .left {
    width: 150px;
  }

  /* ***BONUS****

  1. What did you learn?

  2. What are you still curious about?

  3. If you're done, try commenting out some lines or code blocks and seeing how that changes the appearance of the page.



  */
